html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

.cp_hr05 {
  position: relative;
  height: 1px;
  border-width: 0;
  background-image: -webkit-linear-gradient(left,
  transparent 0%,#e6eaff 50%,transparent 100%);
}

.cs-stars{
  padding-top: 10px;
}

.cs-title {
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1.2em;
  text-align: left;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}

.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}











/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
    /* reset margin and padding so there's no gap between the nav and the screen edges */
    margin: 0;
    padding: 0;
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body.cs-open {
        overflow: hidden;
    }
    #cs-navigation {
        width: 100%;
        padding: 2rem 2rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: #c14d00;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;
    }
    #cs-navigation.cs-active .cs-ul-wrapper {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 0.15s;
    }
    #cs-navigation.cs-active .cs-li {
        transform: translateY(0);
        opacity: 1;
    }
    #cs-navigation .cs-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #cs-navigation .cs-logo {
        width: 40%;
        max-width: 9.125rem;
        height: 100%;
        margin: 0 auto 0 0;
        box-sizing: border-box;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    #cs-navigation .cs-logo img {
        width: 100%;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
    }
    #cs-navigation .cs-toggle {
        /* 44px - 48px */
        width: clamp(2.75rem, 6vw, 3rem);
        height: clamp(2.75rem, 6vw, 3rem);
        margin: 0 0 0 auto;
        border-radius: 0.25rem;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cs-navigation .cs-active .cs-line1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(225deg);
    }
    #cs-navigation .cs-active .cs-line2 {
        top: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    }
    #cs-navigation .cs-active .cs-line3 {
        bottom: 100%;
        opacity: 0;
    }
    #cs-navigation .cs-box {
        /* 24px - 28px */
        width: clamp(1.5rem, 2vw, 1.75rem);
        /* 14px - 16px */
        height: clamp(0.875rem, 1.5vw, 1rem);
        position: relative;
    }
    #cs-navigation .cs-line {
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #cs-navigation .cs-line1 {
        top: 0;
        transform-origin: center;
        transition:
            transform 0.5s,
            top 0.3s,
            left 0.3s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }
    #cs-navigation .cs-line2 {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition:
            top 0.3s,
            left 0.3s,
            transform 0.5s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }
    #cs-navigation .cs-line3 {
        bottom: 0;
        transition:
            bottom 0.3s,
            opacity 0.3s;
    }
    #cs-navigation .cs-ul-wrapper {
        width: 100%;
        height: auto;
        padding-bottom: 2.4em;
        opacity: 0;
        background-color: #c14d00;
        box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        transform: scaleY(0);
        transform-origin: top;
        transition:
          transform 0.4s,
          opacity 0.3s;
    }
    #cs-navigation .cs-ul {
        margin: 0;
        padding: 3rem 0 0 0;
        width: 100%;
        height: auto;
        max-height: 65vh;
        overflow: scroll;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
    #cs-navigation .cs-li {
        list-style: none;
        margin-right: 0;
        /* transition from these values */
        transform: translateY(-4.375rem);
        opacity: 0;
        transition:
            transform 0.6s,
            opacity 0.9s;
    }
    #cs-navigation .cs-li:nth-of-type(1) {
        transition-delay: 0.05s;
    }
    #cs-navigation .cs-li:nth-of-type(2) {
        transition-delay: 0.1s;
    }
    #cs-navigation .cs-li:nth-of-type(3) {
        transition-delay: 0.15s;
    }
    #cs-navigation .cs-li:nth-of-type(4) {
        transition-delay: 0.2s;
    }
    #cs-navigation .cs-li:nth-of-type(5) {
        transition-delay: 0.25s;
    }
    #cs-navigation .cs-li:nth-of-type(6) {
        transition-delay: 0.3s;
    }
    #cs-navigation .cs-li:nth-of-type(7) {
        transition-delay: 0.35s;
    }
    #cs-navigation .cs-li:nth-of-type(8) {
        transition-delay: 0.4s;
    }
    #cs-navigation .cs-li:nth-of-type(9) {
        transition-delay: 0.45s;
    }
    #cs-navigation .cs-li-link {
        /* 16px - 24px */
        font-size: clamp(1rem, 3vw, 1.5rem);
        line-height: 1.2em;
        text-decoration: none;
        margin: 0;
        color: #ffffff;
        display: inline-block;
        position: relative;
    }
    #cs-navigation .cs-li-link:before {
        /* active state underline */
        content: "";
        width: 100%;
        height: 1px;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: none;
        bottom: -0.125rem;
        left: 0;
    }
    #cs-navigation .cs-li-link.cs-active:before {
        display: block;
    }
    #cs-navigation .cs-button-solid {
        display: none;
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        width: 100%;
        padding: 0 1rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: #c14d00;
        box-shadow: rgba(141, 148, 155, 0.2) 8px 8px 24px;
        position: fixed;
        z-index: 10000;
    }
    #cs-navigation .cs-container {
        width: 100%;
        max-width: 150rem;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #cs-navigation .cs-toggle {
        display: none;
    }
    #cs-navigation .cs-logo {
        width: 18.4%;
        max-width: 25rem;
        height: 7rem;
        /* margin-right auto pushes everything away from it to the right */
        margin: 0 auto 0 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    #cs-navigation .cs-logo img {
        width: 100%;
        height: 100%;
        /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
        object-fit: contain;
    }
    #cs-navigation .cs-ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* 20px - 36px */
        gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }
    #cs-navigation .cs-li {
        list-style: none;
        padding: 2rem 0;
        /* prevent flexbox from squishing it */
        flex: none;
    }
    #cs-navigation .cs-li-link {
        /* 14px - 16px */
        font-size: clamp(3rem, 1vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: #ffffff;
        display: block;
        position: relative;
        padding: 0 1.5rem;
    }
    #cs-navigation .cs-li-link:hover:before {
        width: 100%;
    }
    #cs-navigation .cs-li-link.cs-active:before {
        width: 100%;
    }
    #cs-navigation .cs-li-link:before {
        /* active state underline */
        content: "";
        width: 0%;
        height: 2px;
        background: #ffffff;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 0rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-navigation .cs-button-solid {
        font-size: 3rem;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 1.5em);
        text-decoration: none;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin-left: 2rem;
        color: #ffffff;
        min-width: 9.375rem;
        padding: 0 3rem;
        background-color: #ff8128;
        border-radius: 0.5rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #cs-navigation .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #ffac70;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #cs-navigation .cs-button-solid:hover:before {
        width: 100%;
    }
}            
                    



/*-- -------------------------- -->
<---      Floating button       -->
<--- -------------------------- -*/
.main-content {
  position: relative;
  padding-bottom: 10px; /* space for the button */
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #c14d00;
  color: white;
  padding: 3rem 5rem;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 370px;
  border-radius: 10rem;
  font-size:4rem;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  border-radius: 2.5rem;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 600px;
  padding: 10px;
  background-color: white;
  border-radius: 2rem;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 0.5rem;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 0.5rem;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #c14d00;
  color: white;
  padding: 16px 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 1rem;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(105, 105, 105);
  border-radius: 1rem;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.rightbutton{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-family: "Lora", serif;
  text-align: center;
}

.b{
  font-size: 1.7rem;
}




/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
@media only screen and (min-width: 64rem) {

  .slideshowContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1000px;
  }
  
  .imageSlides {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
  }
  
  /* add 'visible' class via Javascript */
  .visible {
    opacity: 1;
  }
  
  .slideshowArrow {
    font-size: 20em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }
  
  .slideshowArrow:hover {
    opacity: 0.75;
  }
  
  #leftArrow {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #rightArrow {
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translate(50%, -50%);
  }
  
  .slideshowCircles {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .circle {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px rgba(255, 255, 255, 0.5);
    transition: 1s ease-in-out;
  }
  
  .dot {
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 2px rgba(255, 255, 255, 0.5);
  }
  
  .slide .image-data {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 100;
    
  }
  .textalign{
    align-items: center;
    margin: auto;
    color:#ffffff;
    font-size: 4rem;
    text-align: center;
  }
  .image-data p {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  .image-data h2 {
    font-size: 7rem;
    font-weight: 600;
    color: #fff;
    font-family: "Lora", serif;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .container-hero {
    margin-top: 35rem;
    margin-left: 50rem;
    margin-right: 50rem;
  }
}







/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbs-248,
  #RPsbsr-248 {
      padding: 0 1em;
      position: relative;
      z-index: 1;
      background: #111111;
      background: linear-gradient(90deg,rgba(17, 17, 17, 1) 0%, rgb(26, 26, 26) 29%, rgb(29, 29, 29) 64%, rgba(18, 18, 18, 1) 100%);
  }
  #RPsbs-248 .cs-container,
  #RPsbsr-248 .cs-container {
      width: 100%;
      /* changes to 1280px on tablet */
      max-width: 34.375rem;
      padding: var(--sectionPadding);
      padding-left: 0;
      padding-right: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 108px */
      gap: clamp(3rem, 8vw, 6.75rem);
      position: relative;
  }
  #RPsbs-248 .cs-content,
  #RPsbsr-248 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      /* changes at tablet */
      max-width: 27.125rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
  }
  #RPsbs-248 .cs-title,
  #RPsbsr-248 .cs-title {
      max-width: 40ch;
      color:#ffffff;
      padding: 1rem 2rem;
      border-left: 3px solid #ffffff;
  }
  #RPsbs-248 .cs-text,
  #RPsbsr-248 .cs-text {
      margin-bottom: 1rem;
      opacity: 0.8;
      color: #ffffff;
      font-size: 2rem;
      font-family: "Roboto", sans-serif;
  }
  p{
    margin-bottom: 2rem;
    margin-left: 5rem;
  }
  a{
    color: #ffffff;
    font-size: 4rem;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
  }
  a.one:link {
    font-size: 2rem;
    color:#cfcfcf;
  }
  a.one:hover {
    color:#eeeeee;
  }
  #RPsbs-248 .cs-text:last-of-type,
  #RPsbsr-248 .cs-text:last-of-type {
      margin-bottom: 2rem;
  }
  #RPsbs-248 .cs-button-solid,
  #RPsbsr-248 .cs-button-solid {
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
  }
  #RPsbs-248 .cs-button-solid:before,
  #RPsbsr-248 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #ff8128;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
  }
  #RPsbs-248 .cs-button-solid:hover:before,
  #RPsbsr-248 .cs-button-solid:hover:before {
      width: 100%;
  }
  #RPsbs-248 .cs-picture,
  #RPsbsr-248 .cs-picture {
      width: 100%;
      max-width: 27.125rem;
      margin: 0;
      border: 1px solid #000000;
      position: relative;
      display: block;
      /* width divided by height */
      aspect-ratio: 1;
      /* prevents border from adding to height and width */
      box-sizing: border-box;
  }
  #RPsbs-248 .cs-picture img,
  #RPsbsr-248 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RPsbs-248 .cs-container,
  #RPsbsr-248 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  #RPsbs-248 .cs-lines,
  #RPsbsr-248 .cs-lines {
      height: 100%;
      width: 35%;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
  }
  #RPsbs-248 .cs-lines:before,
  #RPsbsr-248 .cs-lines:before {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RPsbs-248 .cs-lines:after,
  #RPsbsr-248 .cs-lines:after {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RPsbs-248 .cs-picture,
  #RPsbsr-248 .cs-picture {
      /* 344px - 434px */
      width: clamp(21.5rem, 37.5vw, 27.125rem);
      flex: none;
  }
  #RPsbs-248 .cs-content,
  #RPsbsr-248 .cs-content {
      max-width: 33.875rem;
      margin: 0;
      width: 45%;
  }
  p{
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
  a.one{
    background:
    linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    ),
    linear-gradient(
      to right,
      #c14d00,
      #ffc195,
      #c14d00
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  text-decoration: none;
  }
  a.one:link {
    font-size: 2rem;
    color:#ffffff;
  }
  a.one:hover {
    background-size: 0 3px, 100% 3px;
  }
}
/* Tablet - 1920px */
@media only screen and (min-width: 64rem) {
  #RPsbs-248 .cs-container,
  #RPsbsr-248 .cs-container {
      max-width: 150rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  #RPsbs-248 .cs-lines,
  #RPsbsr-248 .cs-lines {
      height: 100%;
      width: 35%;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
  }
  #RPsbs-248 .cs-lines:before,
  #RPsbsr-248 .cs-lines:before {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RPsbs-248 .cs-lines:after,
  #RPsbsr-248 .cs-lines:after {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RPsbs-248 .cs-picture,
  #RPsbsr-248 .cs-picture {
      /* 344px - 434px */
      width: clamp(21.5rem, 37.5vw, 27.125rem);
      flex: none;
      width: 100%;
      max-width: 60rem;
      height: 40rem;
      margin: 0;
      border: 1px solid #000000;
      position: relative;
      display: block;
      /* width divided by height */
      aspect-ratio: 1;
      /* prevents border from adding to height and width */
      box-sizing: border-box;
  }
  #RPsbs-248 .cs-content,
  #RPsbsr-248 .cs-content {
      max-width: 60rem;
      margin: 0;
      width: 45%;
  }
  #RPsbs-248 .cs-title,
  #RPsbsr-248 .cs-title {
      color: #ffffff;
      font-size: 3.8rem;
  }
  #RPsbs-248 .cs-text,
  #RPsbsr-248 .cs-text {
      color: #ffffff;
      font-size: 3rem;
      padding-left: 10px;
      font-family:  "Roboto", sans-serif;
  }
  p{
    margin-bottom: 2rem;
    margin-left: 5rem;
  }
  a{
    color: #ffffff;
    font-size: 4rem;
    padding-bottom: 10px;
  }
  a.one:link {
    font-size: 3.5rem;
    color:#eeeeee;
  }
  a.one:hover {
    color:#d0d0d0;
  }
  #RPsbs-248 .cs-button-solid,
  #RPsbsr-248 .cs-button-solid {
      font-size: 3rem;
      /* 46px - 56px */
      line-height: clamp(3rem, 6vw, 5rem);
      text-decoration: none;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0.5rem 2rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
  }
  #RPsbs-248 .cs-button-solid:before,
  #RPsbsr-248 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background:  #ff8128;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
  }
  #RPsbs-248 .cs-button-solid:hover:before,
  #RPsbsr-248 .cs-button-solid:hover:before {
      width: 100%;
  }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbsr-248 {
      padding: 0 1rem;
  }
  #RPsbsr-248 .cs-container {
      /* 60px - 100px top and bottom */
      padding: clamp(3.75rem, 7.82vw, 6.25rem) 0;
  }
  #RPsbsr-248 .cs-container:before {
      /* Left Line */
      content: "";
      width: 1px;
      height: 100%;
      background: linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
  }
  #RPsbsr-248 .cs-container:after {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RPsbsr-248 .cs-lines {
      display: none;
  }
  #RPsbsr-248 .cs-background {
      /* Background Image */
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
  }
  #RPsbsr-248 .cs-background:before {
      /* Black Color Overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
      /* prevents the cursor from interacting with it */
      pointer-events: none;
  }
  #RPsbsr-248 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes image act like a background-image */
      object-fit: cover;
  }
  #RPsbsr-248 .cs-topper {
      color: var(--primaryLight);
  }
  #RPsbsr-248 .cs-title {
      color: var(--bodyTextColorWhite);
  }
  #RPsbsr-248 .cs-text {
      color: var(--bodyTextColorWhite);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RPsbsr-248 .cs-lines {
      height: 100%;
      width: 35%;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
  }
  #RPsbsr-248 .cs-lines:before {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RPsbsr-248 .cs-lines:after {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
          top,
          rgba(250, 251, 252, 0.5) 0%,
          rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      /* flips vertically */
      transform: scaleY(-1);
  }
  #RPsbsr-248 .cs-picture {
      margin: 0;
      order: 2;
  }
}

                              
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-2320 {
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
    background: #111111;
    background: linear-gradient(90deg,rgba(17, 17, 17, 1) 0%, rgb(26, 26, 26) 29%, rgb(29, 29, 29) 64%, rgba(18, 18, 18, 1) 100%);
  }
  #contact-2320 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 40rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #contact-2320 .cs-container2 {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 40rem;
    padding: 5rem 3rem;
    margin: auto;
    position: relative;
    z-index: 1;
    -webkit-mask-image: linear-gradient(
    to left, 
    rgba(0, 0, 0, 0) 0%, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0, 0, 0, 1) 90%, 
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right, 
    rgba(0, 0, 0, 0) 0%, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0, 0, 0, 1) 90%, 
    rgba(0, 0, 0, 0) 100%
  );
  }
  #contact-2320 .cs-container2 .cs-topper {
    color: #fff;
  }
  
  #contact-2320 .cs-content {
    text-align: left;
  }
  #contact-2320 .cs-title {
    margin-bottom: 2rem;
    color: #ffffff;
    font-family: "Lora", serif;
    padding: 1rem 1rem;
    border-bottom: 3px solid #ffffff;
    text-align: center;
  }
  #contact-2320 .cs-form {
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-2320 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-2320 .cs-input {
    font-size: 1.25rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--headerColor);
    background-color: #f7f7f7;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    border-radius: 0.25rem;
  }
  #contact-2320 .cs-input::placeholder {
    color: #7d799c;
    opacity: 0.6;
  }
  #contact-2320 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-2320 .cs-button-solid {
    font-size: 1.5rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #contact-2320 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #ff8128;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #contact-2320 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-2320 .cs-submit {
    text-transform: uppercase;
    background-color: #c14d00;
    color: #ffffff;
    border: none;
    transition: color 0.3s;
  }
  #contact-2320 .cs-submit:hover {
    cursor: pointer;
    color: #fff;
  }
  #contact-2320 .cs-map {
    width: 100%;
    max-width: 39.375rem;
    height: 25rem;
    position: relative;
    z-index: 1;
    display: block;
  }
  #contact-2320 .cs-iframe-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* 40px - 56px */
    bottom: clamp(2.5rem, 5vw, 3.5rem);
  }
  #contact-2320 .cs-iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #contact-2320 .cs-box {
    width: 90%;
    max-width: 28.125rem;
    /* 16px - 32px top & bottom */
    /* 16px left & right */
    padding: clamp(0.5rem, 1vw, 1rem) clamp(0.5rem, 1vw, 1rem);
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    box-shadow: 3px 3px 3px #bf700e;
  }
  #contact-2320 .cs-box:before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    pointer-events: none;
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #contact-2320 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #contact-2320 .cs-flex {
    display: flex;
    flex-direction: column;
  }
  #contact-2320 .cs-header {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.5rem;
    color: var(--headerColor);
  }
  #contact-2320 .cs-address {
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #contact-2320 .cs-hours {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact-2320 .cs-hours-info {
    /* 20px - 25px */
    font-size: clamp(4rem, 10vw, 3rem);
    line-height: 1.2em;
    font-weight: 700;
    width: 60%;
    max-width: 28ch;
    margin: 0;
    color: var(--bodyTextColorWhite);
    color: #ffffff;
    text-shadow: 0px 0px 10px rgb(255, 246, 205);
  }
  #contact-2320 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #contact-2320 .cs-background:before {
    /* background color overlay */
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.72;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #contact-2320 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }

}
/* Small Desktop - 1920px */
@media only screen and (min-width:  64rem) {
  #contact-2320 .cs-container {
    max-width: 150rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.25rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  #contact-2320 .cs-container2 {
    max-width: 150rem;
    -webkit-mask-image: linear-gradient(
    to left, 
    rgba(0, 0, 0, 0) 0%, 
    rgba(0, 0, 0, 1) 30%, 
    rgba(0, 0, 0, 1) 80%, 
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right, 
    rgba(0, 0, 0, 0) 0%, 
    rgba(0, 0, 0, 1) 30%, 
    rgba(0, 0, 0, 1) 80%, 
    rgba(0, 0, 0, 0) 100%
  );
  }
  #contact-2320 .cs-content {
    max-width: 80rem;
    /* 24px - 80px */
    padding: clamp(2rem, 5vw, 5rem) 0;
  }
  #contact-2320 .cs-box {
    width: 90%;
    max-width: 40rem;
    /* 16px - 32px top & bottom */
    /* 16px left & right */
    padding: clamp(0.5rem, 2vw, 2rem) clamp(0.5rem, 2vw, 1rem);
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px #bf700e;
  }
  #contact-2320 .cs-box:before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    pointer-events: none;
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #contact-2320 .cs-header {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.5rem;
    color: var(--headerColor);
  }
  #contact-2320 .cs-address {
    font-size: clamp(1.4rem, 3vw, 2.5rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #contact-2320 .cs-title,
  #contact-2320 .cs-topper,
  #contact-2320 .cs-text {
    text-align: left;
    margin-left: 0;
  }
  #contact-2320 .cs-title {
    max-width: 500rem;
    font-size: 3.8rem;
    padding: 1rem 2rem;
    border-bottom: 3px solid #ffffff;
    background: #111111;
  }
  #contact-2320 .cs-services,
  #contact-2320 .cs-phone {
    width: 47%;
  }
  #contact-2320 .cs-button-solid {
    margin-top: 2rem;
    margin-left: 0;
    font-size: 2.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;  
    border-radius: 0.25rem;
  }
  #contact-2320 .cs-map {
    max-width: 70rem;
    height: auto;
    order: -1;
  }
}
                                

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1088 {
    padding: var(--sectionPadding);
    background-color: #111111;
  }
  #reviews-1088 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    padding-left: 3rem;
    padding-right: 3rem;
  }
  #reviews-1088 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 60rem;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    margin: 0 5rem 0 5rem;
  }
  #reviews-1088 .cs-topper {
    font-size: 1.5rem;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
    font-family: "Lora", serif;
  }
  #reviews-1088 .cs-lower {
    font-size: clamp(1.25rem, 3vw, 2rem);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0.25rem;
    display: block;
    font-family: "Lora", serif;
  }
  #reviews-1088 .cs-title {
    max-width: 25ch;
    margin: 0;
    color: #ffffff;
    font-size: 3.8rem;
    font-family: "Lora", serif;
    text-align: left;
  }
  #reviews-1088 .cs-numbers {
    font-size: 2.5rem;
    color: #f6c607;
    text-shadow: 0px 0px 10px rgb(255, 191, 0);
  }
  #reviews-1088 .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #reviews-1088 .cs-item {
    list-style: none;
    padding: 0;
    /* 46px - 56px, pushes up by the same amount the cs-image margin-top pulld it up for proper spacing */
    margin: clamp(2.5rem, 5vw, 3.5rem) 0 0;
    background: #bababa;
    background: linear-gradient(0deg,rgba(186, 186, 186, 1) 0%, rgba(230, 230, 230, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: span 12;
    position: relative;
    border-radius: 60px 20px;
    width: 95%;
    
    box-shadow: 5px 5px 5px rgb(100, 100, 100);
  }
  #reviews-1088 .cs-item:hover .cs-flex {
    background-color: var(--primary);
  }
  #reviews-1088 .cs-icon {
    width: 2.5rem;
    height: auto;
    display: block;
    position: absolute;
    /* 24px - 36px, same values as the padding on cs-item-text */
    top: clamp(1.5rem, 3vw, 2.25rem);
    right: clamp(1.5rem, 3vw, 2.25rem);
  }
  #reviews-1088 .cs-image {
    /* 80px - 112px */
    width: clamp(5rem, 10vw, 7rem);
    height: auto;
    /* 40px - 56px, same growth rate as the cs-image */
    /* 24px - 36px marign left, same value as the padding on cs-item-text */
    margin: calc(clamp(2.5rem, 5vw, 3.5rem)*-1) 0 2.25rem clamp(1.25rem, 3vw, 2.25rem);
    border-radius: 50%;
    display: block;
    box-shadow: 5px 5px 5px rgb(100, 100, 100);
  }
  #reviews-1088 .cs-item-text {
    /* 14px - 16px */
    font-size: 15px;
    font-family: inherit;
    line-height: 1.3em;
    text-align: left;
    margin: 0;
    /* 24px - 36px */
    padding: 0 clamp(1.5rem, 3vw, 2.25rem) clamp(1.25rem, 3vw, 2.25rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    color: #000;
  }
  #reviews-1088 .cs-flex {
    text-align: center;
    padding: 1.5rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    width: 100%;
    /* pushes up against the cs-item-text so if there's a different amount of content from the other cards, it will push down and stretch the card to fill the container vertically. This makes all the cards the same height no matter how much content each one has */
    margin-top: auto;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    transition: background-color 0.3s;
  }
  #reviews-1088 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    font-weight: 700;
    padding: 0;
    color: var(--bodyTextColorWhite);
  }
  #reviews-1088 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColorWhite);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
  #reviews-1088 .cs-container {
    max-width: 150rem;
  }
  #reviews-1088 .cs-item {
    grid-column: span 4;
  }

}
                       
:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #ff6a3e;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}


                          

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-1292 {
      padding: 30px 30px 10px 30px;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      z-index: 10;
      background-color: #c14d00;
      /* Navigation Links */
  }
  #cs-footer-1292 .cs-container {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 1.5rem;
      row-gap: 2.25rem;
  }
  #cs-footer-1292 .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
  }
  #cs-footer-1292 .cs-logo {
      width: 30rem;
      height: auto;
      display: block;
      /* 20px - 24px */
      margin: 1.5rem 0 clamp(1.25rem, 2vw, 1.5rem) 0;
  }
  #cs-footer-1292 .cs-logo-img {
      width: 100%;
      height: auto;
  }
  #cs-footer-1292 .cs-logo-img.dark {
      display: none;
  }
  #cs-footer-1292 .cs-text {
      font-size: 0.875rem;
      line-height: 1.5em;
      /* 20px - 36px */
      margin: 0 0 clamp(1.25rem, 3vw, 2.25rem);
      width: 78%;
      max-width: 15rem;
      color: #ffffff;
  }
  #cs-footer-1292 .cs-link {
      font-size: 0.875rem;
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: #ffffff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;
      transition: color 0.3s;
  }
  #cs-footer-1292 .cs-link:hover {
      color: #ffbe90;
  }
  #cs-footer-1292 .cs-nav {
      width: 45%;
      max-width: 11.25rem;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;
  }
  #cs-footer-1292 .cs-nav-li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }
  #cs-footer-1292 .cs-header {
      font-size: 3rem;
      line-height: 1.2em;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: #ffffff;
      position: relative;
      display: block;
  }
  #cs-footer-1292 .cs-nav-link {
      font-size: 0.875rem;
      text-decoration: none;
      line-height: 1.5em;
      width: auto;
      color: #ffffff;
      position: relative;
      display: inline-block;
      transition: color 0.3s;
  }
  #cs-footer-1292 .cs-nav-link:before {
      /* underline */
      content: "";
      width: 0%;
      height: 0.125rem;
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -0.125rem;
      left: 0;
      transition: width 0.3s;
  }
  #cs-footer-1292 .cs-nav-link:hover {
      color: #ffbe90;
  }
  #cs-footer-1292 .cs-nav-link:hover:before {
      width: 100%;
  }
  #cs-footer-308 .cs-nav-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#cs-footer-308 .cs-header {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: block;
}
#cs-footer-308 .cs-nav-link {
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: inline-block;
    transition: color 0.3s;
}
#cs-footer-308 .cs-nav-link:before {
    /* underline */
    content: "";
    width: 0%;
    height: 0.125rem;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
}
#cs-footer-308 .cs-icon {
    width: 1.5rem;
    height: auto;
    margin-right: 0.75rem;
}
#cs-footer-308 .cs-bottom {
    max-width: 80rem;
    margin: auto;
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid #484848;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cs-footer-308 .cs-copyright,
#cs-footer-308 .cs-copyright-link {
    font-size: 1rem;
    line-height: 1.5em;
    color: #ffffff;
}
#cs-footer-308 .cs-copyright-link {
    text-decoration: none;
    transition: color 0.3s;
}
#cs-footer-308 .cs-copyright-link:hover {
    color: #ffffff;
}
  #cs-footer-1292 .cs-bottom {
      max-width: 80rem;
      margin: auto;
      /* 48px - 100px */
      margin-top: clamp(2rem, 9vw, 2rem);
      /* 20px - 32px */
      padding: clamp(1.25rem, 3vw, 1rem) 0 0 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 2.25rem;
      row-gap: 0.75rem;
  }
  #cs-footer-1292 .cs-copyright,
  #cs-footer-1292 .cs-copyright-link {
      font-size: 0.875rem;
      line-height: 1.5em;
      color:#ffffff;
  }
  #cs-footer-1292 .cs-copyright {
      text-align: center;
      width: 100%;
  }
  #cs-footer-1292 .cs-copyright-link {
      text-decoration: none;
      transition: color 0.3s;
  }
  #cs-footer-1292 .cs-copyright-link:hover {
      color: var(--secondary);
  }
  #cs-footer-1292 .cs-floater {
      width: 31.625rem;
      height: 31.625rem;
      margin-left: 34.375rem;
      border-radius: 50%;
      border: 2px solid var(--primary);
      opacity: 0.1;
      display: none;
      position: absolute;
      left: 50%;
      top: 0;
      z-index: -1;
  }
  #cs-footer-1292 .cs-floater:before {
      content: "";
      width: 44.6875rem;
      height: 44.6875rem;
      border: 2px solid var(--primary);
      border-radius: 50%;
      opacity: 0.6;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  #cs-footer-1292 .cs-floater:after {
      content: "";
      width: 60.1875rem;
      height: 60.1875rem;
      border: 2px solid var(--primary);
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-1292 .cs-container {
      row-gap: 0;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 5.5rem;
      row-gap: 2.5rem;
  }
  #cs-footer-1292 .cs-nav {
      width: auto;
  }
  #cs-footer-1292 .cs-bottom {
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  #cs-footer-1292 .cs-copyright {
      text-align: left;
      width: auto;
      margin-right: auto;
  }
  #cs-footer-1292 .cs-floater {
      display: block;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-1292 .cs-container {
      max-width: 150rem;
      flex-wrap: nowrap;
      /* align everything to the right */
      justify-content: flex-end;
      column-gap: clamp(2.5rem, 6vw, 5.25rem);
  }
  #cs-footer-1292 .cs-logo-group {
      width: 30%;
      max-width: 24.1875rem;
      /* pushes away from everything to the right */
      margin-right: auto;
  }
  #cs-footer-308 .cs-header {
    font-size: 2rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: block;
}
  #cs-footer-1292 .cs-text {
    font-size: 2rem;
    line-height: 1.5em;
    /* 20px - 36px */
    margin: 0 0 clamp(1.25rem, 3vw, 2.25rem);
    width: 100%;
    max-width: 30rem;
    color: #ffffff;
  }
  #cs-footer-1292 .cs-link {
    font-size: 1.5rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    transition: color 0.3s;
}
  #cs-footer-1292 .cs-nav {
    width: 45%;
    max-width: 30rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
  #cs-footer-1292 .cs-nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 1.5em;
    width: auto;
    color: #ffffff;
    position: relative;
    display: inline-block;
    transition: color 0.3s;
  }
  #cs-footer-1292 .cs-graphic {
      display: block;
  }
}

:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #c14d00;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}


